#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {  
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &tog 1     &kp N     &kp H     &kp K
                &kp E     &kp E     &kp R     &kp A
                &kp N     &kp T     &kp O     &kp T
            >;
        };

        bt_layer {
            bindings = <
                &tog 1            &none            &bootloader            &none
                &none            &none            &bt BT_CLR             &none
                &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2           &none
            >;
        };
    };
};